[submodule "PollAppBackend"]
	path = PollAppBackend
	url = https://github.com/mikeg1440/PollAppBackend
[submodule "PollAppFrontend"]
	path = PollAppFrontend
	url = https://github.com/mikeg1440/PollAppFrontend
